.profile-container {
  margin-top: 100px;
  padding-top: 10px;
  overflow-y: scroll;
}

.user-details {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.user-details h2 {
  margin-top: 0;
}

.user-details p {
  margin: 10px 0;
}

.save-changes-btn,
.cancel-btn,
.edit-profile-btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  background: #03045e;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  letter-spacing: 5px;
}

.user-details label {
  display: block; /* Display labels as block to start on a new line, does not work with width 40%*/
  margin-bottom: 5px; /* Adjust margin as needed */
}

.user-details input[type="text"],
.user-details input[type="email"],
.user-details input[type="tel"],
.user-details input[type="date"],
.user-details input[type="password"],
.user-details textarea {
  width: 40%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; /* Include padding and border in width calculation */
  color: #03045e;
}
