.profile-container {
  margin-top: 100px;
  padding-top: 10px;
}

.user-details {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.user-details h2 {
  margin-top: 0;
}

.user-details p {
  margin: 10px 0;
}

.error-message {
  color: red;
  font-weight: bold;
}
