.login-card {
  position: relative;
  margin: 0 auto;
  /* margin-left: 50px;
  margin-right: 15%; */
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border: 2px solid #eef1f8;
  padding: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
}

.signIn-Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-Container-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-user {
  position: absolute;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: auto;
  padding-top: 17px;
  left: 90px;
  width: 20px;
}

.input-Field-login {
  background: none;
  border-radius: 40px;
  border-width: 2px;
  border-style: solid;
  border-color: #eef1f8;
  outline: none;
  background: none;
  color: inherit;
  margin: 10px;
  width: 300px;
  height: 58.36px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 50px;
  box-sizing: border-box;
  cursor: pointer;
  color: #eef1f8;
}

.input-Field-login::placeholder {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  color: #eef1f8;
}

/* overwrites the autofill input background and cursor*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #eef1f8;
  caret-color: #eef1f8; /* cursor-color */
}

.Login-Button {
  width: 95%;
  padding: 10px;

  cursor: pointer;
  background: #03045e;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  letter-spacing: 5px;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.links .register,
.links .forgotPW {
  flex: 1;
  display: flex;
  justify-content: center;
}

.links a {
  text-decoration: none;
  color: #eef1f8;
}

.links p {
  margin: 0;
}

.loginWrong-message {
  top: 400px; /* Position 200px above its normal position */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center horizontally */
  text-align: center;
  padding: 20px 30px;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  letter-spacing: 5px;
  width: 460px;
  background: #0077b6;
  position: absolute; /* Position relative to its closest positioned ancestor */
}

.error-message .close-button {
  cursor: pointer;
  margin-left: 10px; /* Space between message and close button */
  font-weight: bold;
}

@media (max-width: 1370px) {
  .login-card {
    margin-top: 5%;
    margin-bottom: 20%;
  }
}
