/* Tabulator - Menu */
.content-tabulators {
  padding-top: 10px;
  margin: 100px 50px 50px 50px; /*top, right, bottom, left*/
}
.left-side-content-map {
  margin-top: 100px;
  padding-top: 10px;
}

.map-and-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1370px) {
  .map-and-filter-container {
    align-items: center;
    height: 100%;
    flex-direction: row;
    justify-content: center;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tab-nav {
  flex: 0 0 200px;
}

.tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tab-btn {
  width: 100%;
  padding: 10px;
  background: none;
  border: 2px solid #dddddd; /* Update border color to match hover effect */
  cursor: pointer;
  color: white; /* Inactive tab font color */
}

.tab-btn--active {
  background-color: #007bff;
  color: #03045e !important; /* Active tab font color */
}

.tab-panel {
  display: none; /* Hide all panels by default */
  padding: 20px;
  border: 1px solid #ccc;
  flex: 1;
}

.tab-panel--active {
  display: block;
}

/* Additional CSS to override Bootstrap defaults */
.nav-tabs .nav-link {
  color: White; /* Inactive tab font color */
  border: 1px solid white !important;
}

.nav-tabs .nav-link.active {
  color: black; /* Active tab font color */
  background-color: white; /* Active tab background color */
}

/* Optional: Hover effects for tabs */
.nav-tabs .nav-link:hover {
  color: #dddddd; /* Color when hovering over inactive tabs */
  background-color: white;
  color: black;
}
