/* Tabulator - Menu */

.left-side-content-map {
  margin-top: 100px;
  padding-top: 10px;
}

.map-and-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1370px) {
  .map-and-filter-container {
    align-items: center;
    height: 100%;
    flex-direction: row;
    justify-content: center;
  }
}

.tabs {
  display: flex;
  flex-direction: row;
}

.tab-nav {
  flex: 0 0 200px;
}

.tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tab-btn {
  width: 100%;
  padding: 10px;
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
}

.tab-btn--active {
  background-color: #007bff;
  color: #fff;
}

.tab-panel {
  display: none; /* Hide all panels by default */
  padding: 20px;
  border: 1px solid #ccc;
  flex: 1;
}

.tab-panel--active {
  display: block;
}
