.register-button {
  margin-top: 10px;
  width: 95%;
  padding: 10px;
  height: 58.36px;
  cursor: pointer;
  background: #03045E;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  letter-spacing: 5px;
}

