html, body {
  height: 100%;
  margin: 0;
}

.read-more-container {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border: 2px solid #eef1f8;
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 40px;
}




.left-side {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  padding-right: 20px;
}

.logo-und-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  align-items: center;
}

.login-div {
  margin-top: 300px;
}

.Login-Button {
  width: 200px;
  height:50px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  background: #03045E;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  letter-spacing: 5px;
}

.text{

  flex: 2; 
  overflow-y: auto; 
  padding: 40px 40px 20px 50px;
}

.text::-webkit-scrollbar {
    width: 12px;
}

.text::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #eef1f8;
    color: red;
    border-radius: 10px;
}

.text::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(7, 4, 4, 0.5); 
}

.text p {
  margin-top: 10px;
  font-size:28px;
}
