html, body {
  height: 100%;
  margin: 0;
}

.read-more-container {
  position: absolute;
  width: 80%; /* Adjust as needed */
  height: 80%; /* Adjust as needed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border: 2px solid #eef1f8;
  padding: 20px;
  display: flex;
  flex-direction: row; /* Change to row for two-column layout */
  border-radius: 40px;
}

.left-side {
  flex: 1; /* Takes up one part of the space */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  padding-right: 20px; /* Space between columns */
}

.logo-und-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
}

.login-div {
  margin-top: 30px;
}

.Login-Button {
  padding: 10px 20px;
  align-items: center;

  border: none;
 
  cursor: pointer;
  font-size: 16px;
}

.text{
  flex: 2; /* Takes up two parts of the space */
  overflow-y: auto; /* Allows scrolling if the text overflows */
  padding-left: 20px; /* Space between columns */
}

/* .read-more-container{
  
  position: absolute;
  align-items: center;
  right: 15%;
  top: 10%;
  bottom: 10%;
  box-sizing: border-box;
  width: 1500px;
  height: 900px;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border: 2px solid #eef1f8;
  padding: 20px;
  display: flex;
  flex-direction: column;

  border-radius: 40px;
  border-width: 2px;    
  border-style: solid;
  border-color: #eef1f8; 
}

.logo-und-button{
  margin-top: 30px;
  position: absolute;
  left:10%
}

.login-div{
  margin-top:300px
} */