html, body {
  height: 100%;
  margin: 0;
}

.read-more-container {
  position: absolute;
  width: 80%; /* Adjust as needed */
  height: 80%; /* Adjust as needed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border: 2px solid #eef1f8;
  padding: 20px;
  display: flex;
  flex-direction: row; /* Change to row for two-column layout */
  border-radius: 40px;
}

.left-side {
  flex: 1; /* Takes up one part of the space */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  padding-right: 20px; /* Space between columns */
}

.logo-und-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  align-items: center;
}

.login-div {
  margin-top: 300px;
}

.Login-Button {
  width: 200px;
  height:50px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  background: #03045E;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  letter-spacing: 5px;
}

.text{
  /* overflow-y: scroll; */
  flex: 2; /* Takes up two parts of the space */
  overflow-y: auto; /* Allows scrolling if the text overflows */
  padding: 40px 40px 20px 50px;
}

.text p {
  margin-top: 10px;
  font-size:28px;
}
