.register-card {
  position: absolute;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: height 0.3s ease-in-out;
  border-radius: 40px;
  border: 2px solid #eef1f8;
}

.input-container-register {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 15px;
  margin-top: 40px;
  justify-content: center;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  position: absolute;
  left: 15px;
  width: 22px;
  height: 22px;
  pointer-events: none; /* Ensure the icon does not interfere with clicking/typing */
}

.input-Field {
  flex: 1;
  padding: 10px 10px 10px 50px; /* Adjust padding to make space for the icon */
  border-radius: 40px;
  border-width: 2px;
  border-style: solid;
  border-color: #eef1f8;
  outline: none;
  background: transparent;
}

.input-Field::placeholder {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  color: #eef1f8;
}

.register-button {
  align-items: center;
  margin-top: 10px;
  text-align: center;
  margin: 15px;
  padding-left: 30px;
  padding-right: 30px;
  height: 58.36px;
  cursor: pointer;
  background: #03045e;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  letter-spacing: 5px;
}

.registration-saved {
  margin: 0 auto;
  top: 100px;
  text-align: center;
  padding: 20px 30px;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  letter-spacing: 5px;
  width: 460px;
  background: #0077b6;
  position: relative;
}

@media (max-width: 767px) {
.input-Field {
  padding: 10px 10px 10px 40px; /* Adjust padding for smaller screens */
}

.icon {
  left: 10px; /* Adjust icon position for smaller screens */
  width: 18px; /* Adjust icon size for smaller screens if needed */
  height: 18px; /* Adjust icon size for smaller screens if needed */
}
}

@media (max-width: 963px) {
  .register-card {
    width: 90%; /* Adjust width for smaller screens */
    top: 5%; /* Position it closer to the top */
    left: 50%;
    transform: translate(-50%, 0); /* Center horizontally */
    padding: 10px; /* Reduce padding for smaller screens */
    max-height: none; /* Ensure the card does not exceed the screen height */
  }

  .input-container-register {
    grid-template-columns: 1fr; /* Stack inputs vertically on smaller screens */
    margin-top: 20px; /* Adjust top margin for smaller screens */
  }

  .input-container-register .input-with-icon {
    grid-column: span 1; /* Ensure each input takes full width */
  }

  .registration-saved {
    width: 90%; /* Adjust width for smaller screens */
  }
}
