.container-left-content {
  
  position: relative;
  margin: 0 auto;
  left: 10%;
  top: 50%;
  /* width: 616px; 
  height: 277px; */
  /* transform: translateY(-50%); */
  
}
.bringIt-headline {
  bottom: 38.04%;
  font-style: normal;
  font-weight: 500;
  font-size: 128px;
  line-height: 156px;
  text-align: left;
}

.bringIt-h2{
  /* step up your neighbourhood */
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  text-align: left;
}
.read-more-btn{
  /* Rectangle */
  cursor: pointer;
  background: #03045E;
  border-radius: 40px;
  border-style: none;
 
  color: #dfe4f0;
  letter-spacing: 5px;
  font-size: 15px;
  width: 215px;
  height: 40px;
}

/* @media (max-width: 1280px) {
.container-left-content {
    position: relative;
    left: auto;
    top: auto;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
} */
