.my-todos {
  padding: 20px;
}

.my-todos h2 {
  margin-bottom: 20px;
  color: white;
}

.my-todos ul {
  list-style-type: none;
  padding: 0;
}

.my-todos li {
  background: #023e8a;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 40px;
}

.my-todos li h3 {
  margin: 0 0 5px;
  color: white;
  font-size: 30px;
}

.my-todos li p {
  color: white;
}

.todo-item {
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  border-width: 3px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.border-red {
  border-color: red;
}

.border-yellow {
  border-color: yellow;
}

.border-green {
  border-color: rgb(39, 201, 39);
}

.border-gray {
  border-color: #999;
}

.border-white {
  border-color: white;
}

.todo-summary {
  display: flex;
  flex-direction: column;
}

.todo-summary h3 {
  margin: 0;
  color: white;
  font-size: 24px;
}

.todo-summary .todo-id {
  font-size: 14px;
  color: white;
  margin: 0;
  margin-bottom: 5px;
}

.todo-user-arrow {
  display: flex;
  align-items: center;
}

.todo-summary .todo-username {
  font-size: 14px;
  color: white;
  margin-right: 10px;
}

.todo-summary .arrow {
  font-size: 18px;
  color: white;
  margin-left: auto;
}

.todo-details {
  margin-top: 10px;
  margin-left: 20px;
  transition: max-height 0.3s ease;
}

.collapsed .todo-details {
  max-height: 0;
  overflow: hidden;
  padding: 0;
}

.expanded .todo-details {
  max-height: 500px; /* Adjust as needed */
  overflow: hidden;
}

.todo-details p {
  margin: 5px 0;
  color: white;
}

.todo-details .label {
  font-size: 0.8em;
  color: #cccccc;
  font-weight: bold;
  margin: 0;
}

.todo-details .value {
  font-size: 1.2em;
  color: white;
  margin: 0;
}

.action-btn {
  padding: 10px 30px;
  cursor: pointer;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  font-size: 20px;
  letter-spacing: 5px;
  width: 240px;
  background: #0077b6;
  margin-right: 10px;
  margin-bottom: 10px;
}

.action-btn:hover {
  background: #03045e;
}

.tooltip-area-top {
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 999; /* Ensure tooltip area is above padding of TodoListTemplate */
}

.tooltip-area-bottom {
  height: 20px;
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  /* z-index: -999;  */
  /* Ensure tooltip area is above padding of TodoListTemplate */
}

.todo-summary {
  margin-left: 20px;
}

.userdetails {
  font-style: italic;
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 3px;
}
.expanded-wrapper {
  display: flex;
  align-items: flex-start;
  /* gap: 200px; */
  justify-content: space-between;
}

.expanded-right-container {
  flex-grow: 1;
}

.expanded-left-container {
  flex-grow: 2;
  margin-right: 20px;
}

.collapsed-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
