.card {
  position: absolute;
  right: 15%;
  top: 20%;
  bottom: 30%;
  box-sizing: border-box;
  width: 450px;
  height: 650px;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border: 2px solid #eef1f8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 40px;
  border-width: 2px;    
  border-style: solid;
  border-color: #eef1f8; 
}

.signIn-Form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-With-Icon {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-Field, .password-Field {
  background: none;
  border-radius: 40px;
  border-width: 2px;   
  border-style: solid; 
  border-color: #eef1f8;
  outline: none;
  background: none;
  color: inherit;
  margin: 10px;

  width: 300px;
  height: 58.36px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 40px;
  box-sizing: border-box;
  cursor: pointer;
  color: #eef1f8;
}

.input-Field::placeholder {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  color: #eef1f8;

}

.icon-user{
  position: absolute;
  left: 90px;
  height: 20px;
  width: 20px;
  color: #eef1f8;
}

.Login-Button {
  
  width: 95%;
  padding: 10px;
  
  cursor: pointer;
  background: #03045E;
  color: #eef1f8;
  border-radius: 40px;
  border: none;
  letter-spacing: 5px;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.links .register, .links .forgotPW {
  flex: 1;
  display: flex;
  justify-content: center;
}

.links a {
  text-decoration: none;
  color: #eef1f8;
}

.links p {
  margin: 0;
}




