/* Card */
.card {
  /* position: absolute;
  
   
 
 

  
  right: 15%;
  /
  /* Rectangle 3 */
  position: absolute;
  top: 30%;
  right: 15%;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0px;
  row-gap: 30px;
  width: 400px;
  height: 600px;

  background: radial-gradient(90.16% 143.01%, rgba(165, 239, 255, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 59px;

}


.singIn-Form {
  display: block;
  position: relative;
  width: 100%;
  color: #dfe4f0;
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;

  cursor: pointer;
}

.singIn-Form input {
  
 /* text */
  padding-left: 50px;
  background: none;
  
  position: relative;
  justify-content: center;
  align-items: center;

  width: 80%;
  display: block;
  height: 30px;

  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  
  border: 1px solid #dfe4f0;
  border-radius: 40px;
  
  cursor: pointer;
}

.singIn-Form input::placeholder {
  color: #dfe4f0; /* Change this color to whatever you want */
}

.singIn-Form button {
  /* Rectangle */



  cursor: pointer;


  position: relative;

  width: 100%;
  height: 58.36px;
  background: #03045E;
  color: #dfe4f0;
  border-radius: 40px;
  border-style: none;
  flex: none;
  order: 2;
  flex-grow: 0;
 
}








