.navbar-container {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(40px);
  border-bottom: 2px solid #eef1f8;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo-btn {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.right-buttons {
  display: flex;
  align-items: center;
}

.profil-btn,
.settings-btn {
  margin-top: 10px;
  margin-left: 20px;
}

.logo-btn img {
  height: 50px;
  width: 50px;
}

.profil-btn img{
 height: 40px;
  width: 45px;
}

.settings-btn img {
 height: 43px;
  width: 53px;
}


