* {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  color: #eef1f8;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* overflow-y: scroll; */
  overflow: hidden;
  background: rgb(3, 4, 94);
  background: linear-gradient(
    0deg,
    rgba(3, 4, 94, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(72, 202, 228, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed; /* Ensure background continues on scroll */
}

#elipses {
  position: absolute;
  width: 596px;
  height: 637px;
  right: 1px;
  top: 1px;
  background-image: url("/public/Images/Elipses.png");
  z-index: -1;
}

.major-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1370px) {
  .major-container {
    align-items: center;
    height: 100%;
    flex-direction: row;
    justify-content: center;
  }
}