.container-left-content {
    position: relative;
    margin: 0 auto;
  }
  .bringIt-headline {
    bottom: 38.04%;
    font-style: normal;
    font-weight: 500;
    font-size: 128px;
    line-height: 156px;
    text-align: left;
  }
  
  .bringIt-h2 {
    /* step up your neighbourhood */
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 41px;
    text-align: left;
  }
  .read-more-btn {
    /* Rectangle */
    cursor: pointer;
    background: #03045e;
    border-radius: 40px;
    border-style: none;
  
    color: #dfe4f0;
    letter-spacing: 5px;
    font-size: 15px;
    width: 215px;
    height: 40px;
  }
  
  @media (max-width: 1370px) {
    .container-left-content {
      margin-top: 5%;
      backdrop-filter: blur(40px);
      padding-bottom: 20px;
      border-radius: 40px;
  
    }
  
    .container-left-content button {
      justify-content: center;
    }
  
  }