.organizer-bar {
  display: flex;
  /* justify-content: space-between; */
  /* padding: 10px; */
  /* background-color: #f0f0f033; */
  color: black;
  font-size: 14px;
  margin-right: 50px;
}

.organizer-button {
  color: black;

  background-color: #eaeaea;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  margin-top: 5px;
  padding: 2px 5px;
}

.span {
  /* font-size: larger; */
  font-style: normal;
  font-weight: 500px;
  margin: 0;
  padding: 0;
  color: black;
}

select.organizer-button {
  /* Ensuring the select dropdown looks like the button */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px; /* Space for the dropdown arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpolygon points='0,0 10,0 5,5' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.organizer-button:hover {
  background-color: #bdbdbd;
}

.organizer-buttonn:checked {
  border: 2px solid red;
}

option.option-container {
  color: black;
  background-color: #eaeaea;
}

.kein-filter-option {
  color: #797979;
  font-style: italic;
}

span {
  font-style: italic;
  color: #eef1f8;
  margin-left: 20px;
  font-weight: bold;
}

.arrows {
  color: black;
}
